
.header{
    -webkit-box-shadow: -1px 4px 9px 3px #efefef;
    box-shadow: -1px 4px 9px 3px #efefef;
    padding: 20px;
    margin-bottom: 40px;
  }
  
    .logo{
      margin-left: 4px;
    }
    .triangle-code{
      display: inline-block;
      position: relative;
      height: 0;
      width: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid #e1389a;
     }
  
     .triangle-code::before{
      right: 3px;
      top: -1px;
      content: "";
      position: absolute;
      background-color: #f5f2f2;
      height: 2px;
      width: 5px;
      transform: rotate(-45deg);
     }